header
    div(class="navbar-fixed")
        nav(class="nav-wrapper")
            a(href="../html/index.html" class="brand-logo valign-wrapper")
                img(class="responsive-img left z-depth-2"  src="../assets/images/Logo.jpg" alt="Logo de imagen")
            a(href="#" data-target="mobile-demo" class="sidenav-trigger right")
                i(class="large material-icons cyan-text text-darken-1") menu
            ul(class="right valign hide-on-med-and-down")
                li(class="")
                    a(href="#") Sobre nosotros
                li(class="")
                    a(href="#") Contacto
                li(class="")
                    a(class="btn" href="../html/registro.html") Registro
    
ul(class="sidenav" id="mobile-demo")
    li(class="")
        a(href="#") Sobre nosotros
    li(class="")
        a(href="#") Contacto
    li(class="")
        a(class="btn" href="../html/registro.html") Registro

        