<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/><!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="../css/main.css"/>
    <title>My blog</title>
  </head>
  <body>
    <header>
      <div class="navbar-fixed"></div>
      <nav class="nav-wrapper"><a class="brand-logo valign-wrapper" href="../html/index.html"><img class="responsive-img left z-depth-2" src="../assets/images/Logo.jpg" alt="Logo de imagen"/></a><a class="sidenav-trigger right" href="#" data-target="mobile-demo"><i class="large material-icons cyan-text text-darken-1">menu</i></a>
        <ul class="right valign hide-on-med-and-down">
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a class="btn" href="../html/registro.html">Registro</a></li>
        </ul>
      </nav>
    </header>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Sobre nosotros</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a class="btn" href="../html/registro.html">Registro</a></li>
    </ul>
    <footer class="page-footer"></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){M.AutoInit();
      });
    </script>
  </body>
</html>